h2,
h1 {
  background: rgb(196, 181, 181);
}
img {
  display: inline;
  margin: 15px auto;
  padding: 15px;
  border-radius: 30px;
}
body {
  border: 1px solid white;
  padding: 20px auto;
  border-radius: 5px;
}
